
<link rel="stylesheet" href="/stylesheets/about_style.css" type='text/css'>
<link href="https://fonts.googleapis.com/css?family=Wendy+One" rel="stylesheet">
<h1 class="display-3"> About</h1>
<p class="lead"> This is a node/express app for jotting down ideas for future youtube videos</p>