
<link rel="stylesheet" href="/stylesheets/index_style.css" type='text/css'>
<link href="https://fonts.googleapis.com/css?family=Wendy+One" rel="stylesheet">
<div class="jumbotron text-center">
    <h1 class="display-3 welcome"> {{title}} </h1>
    <p class="lead"> {{info}}</p>
    <a href="/ideas/add" class="btn  btn-lg btn-dark"> Add video idea </a>
</div>